header {
  height: 400px;
  width: 100%;
  top: 120px;
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url('../images/clean-gray-paper.png');
}